node_modules/
dist/
build/

# Env (do NOT commit ANY env files)
.env
.env.*
!.env.example

# Backend env
backend/server/.env
backend/server/.env.local

# Server secret keys
backend/server/firebasekey.json
firebasekey.json

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
